asgiref==3.3.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
Django==3.1.4
django-crispy-forms==1.10.0
idna==2.10
Pillow==8.0.1
pycparser==2.20
pyOpenSSL==20.0.0
pytz==2020.4
qrcode==6.1
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
ua-parser==0.10.0
urllib3==1.26.2
user-agents==2.2.0
